@use 'sass:math';
@use '../../styles/mixins/typography' as *;
@use '../../styles/mixins/breakpoints' as *;

.container {
  position: absolute;
  left: var(--space-md);
  top: calc(var(--space-md) * -1);
  display: inline-block;
  color: var(--color-light);
  letter-spacing: var(--space-2xs);
  @include body('Alt');
  @include breakpoint(lg) {
    left: 0;
    top: calc(var(--space-lg) * -1);
  }
}

@for $i from 0 through 12 {
  .text:nth-child(#{$i + 1}) {
    filter: blur(0px);
    animation: blur-text 1.5s #{math.div($i, 6)}s infinite linear alternate;
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(2px);
  }
}
