@use '../../styles/mixins/typography' as *;

.container {
    display: flex;
    gap: var(--space-sm);
    margin-bottom: var(--space-lg);
    width: 100%;

    > svg {
        width: var(--space-md);
        height: var(--space-md);
    }

    > p {
        flex: 1;
        color: var(--color-gray-100);
        @include body();
    }
}