@use '../../styles/mixins/typography.scss' as *;

.container {
  display: flex;
  gap: var(--space-sm);
  margin-bottom: var(--space-lg);
  width: 100%;

  > svg {
    width: var(--space-md);
    height: var(--space-md);
  }

  div {
    flex: 1;
  }
}
