@use '../../styles/mixins/typography' as *;
@use '../../styles/mixins/breakpoints' as *;

.container {
    top: 0;
    width: 400px;
    height: 100vh;
    background: var(--color-gray-900);
    display: none;
    border-left: 1px solid var(--color-gray-600);
    overflow: hidden;
    @include breakpoint(md) {
      display: flex;
      flex-direction: column;
    }
  }
  
  // When the panel is open
  // .open {
  // }
  
  .header {
    padding: var(--space-md);
    border-bottom: 1px solid var(--color-gray-600);

    > h6 {
      margin: 0;
      color: var(--color-gray-100);
      @include heading-6('Alt');
    }

    > p {
      margin: 0;
      color: var(--color-gray-400);
      @include body('Alt');
    }
  }

  .logs {
    position: relative;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  // Empty state
  .empty {
    color: green;
    padding: var(--space-md);
    @include body('Alt');
  }
  
  // Styling for each
  .logLine {
    @include body('Alt');
    padding: var(--space-base) var(--space-md) 0;
    line-height: 1.5;

    &:first-child {
      margin-top: var(--space-xs);
    }

    > span {
      
      &:not(:last-child) {
        padding-right: var(--space-xs);
      }
      
      // Target Time Stamp
      &:first-child {
        color: var(--color-gray-400);
        @include body('Alt');
      }
    }
  }
  
  .label {
    font-weight: bold;
    color: green;
  }
  
  .message {
    color: var(--color-gray-100);
  }

  .message ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: var(--space-xs);
  }
  
  .logLine code {
    background: var(--color-gray-800);
    color: var(--color-primary-400);
    padding: var(--space-3xs) var(--space-2xs);
    border-radius: var(--radius-xs);
  }
  
  .divider {
    border: none;
    margin-top: var(--space-md);
    margin-bottom: 0;
    border-top: 1px solid var(--color-gray-600);
  }

