@use '../mixins/typography' as *;

.ai-heading {
    margin-top: 0;
    color: var(--color-gray-100);
    @include heading-6('Alt');
}

// .ai-date {
//     display: block;
//     color: var(--color-gray-300);
//     @include body('Alt');
// }

.ai-divider, hr {
    height: 1px;
    color: var(--color-gray-600);
    background: var(--color-gray-600);
    margin: var(--space-base) 0;
    font-size: 0;
    border: 0;
}

.ai-p {
    color: var(--color-gray-100);
    @include body();

    &:not(:last-child) {
        margin-bottom: var(--space-sm) !important;
    }
}

.ai-list {

    li {
        color: var(--color-gray-100);
        @include body();
    }
}

.ai-link {
    display: block;
    width: fit-content;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-600);
    border-radius: var(--radius-sm);
    padding: var(--space-xs) var(--space-base);
    color: var(--color-gray-100);
    text-decoration: none;
    @include body('sm');
}