@use '../../styles/mixins/typography' as *;
@use '../../styles/mixins/breakpoints' as *;

.container {
    position: absolute;
    top: var(--space-4xl);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray-900);
    height: calc(100vh - var(--space-4xl));
    z-index: 2;
    opacity: 0;
    @include breakpoint(lg) {
        position: relative;
        top: unset;
        left: unset;
        height: unset;
        width: 500px;
        border-right: 1px solid var(--color-gray-600);
        opacity: 1;
    }
}

.author {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    gap: var(--space-2xs);
    border-bottom: 1px solid var(--color-gray-600);
    border-top: 1px solid var(--color-gray-600);
    align-items: center;
    @include breakpoint(lg) {
        border-top: none;
        align-items: flex-start;
    }

    &__name {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
        color: var(--color-gray-100);

        > p {
            @include heading-6('Alt');
        }
    }

    &__title {
        text-align: center;
        padding: 0 var(--space-md);
        color: var(--color-gray-100);
        @include body('Alt');
        @include breakpoint(lg) {
            padding: 0;
            text-align: left;
         }
    }
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: var(--space-2xs);
        padding: var(--space-md);
        border-top: 1px solid var(--color-gray-600);
        border-bottom: 1px solid var(--color-gray-600);
    }

    &__title {
        text-align: center;
        color: var(--color-gray-200);
        @include heading-5('Alt');
    }

    &__subtitle {
        text-align: center;
        color: var(--color-gray-200);
        @include body('Alt');
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: var(--color-gray-100);
        padding: 0;
        width: 100%;
        margin: 0;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: var(--space-base);
            border-bottom: 1px solid var(--color-gray-600);
            gap: var(--space-xs);
            transition: var(--transition-basic);
            cursor: pointer;
            @include body('Alt');

            &:hover {
                background-color: var(--color-gray-800);
            }
        }
    }
}

.copyright {
    border-top: 1px solid var(--color-gray-600);
    color: var(--color-gray-200);
    text-align: center;
    padding: var(--space-md);
    @include body('Alt');
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}