////////////////////
/// Brand Colors
////////////////////
:root {
  // Green - Primary
  --color-primary--light: #2F7464;
  --color-primary:        #1E4A40;
  --color-primary--dark:  #122B25;

  // Orange - Secondary
  --color-secondary--light: #EA9D71;
  --color-secondary:      #E27739;
  --color-secondary--dark:  #C35A1D;

  // Maroon - Tertiary
  --color-tertiary--light: #942624;
  --color-tertiary:       #681A19;
  --color-tertiary--dark:  #521514;

  // Neutral
  --color-off-white: #EDE0CB;
  --color-light:     #FFF9F0;
  --color-dark:      #252422;

  // Grayscale
  --color-black:     #000000;
  --color-gray-900:  #1a1a1a;
  --color-gray-800:  #333333;
  --color-gray-700:  #4d4d4d;
  --color-gray-600:  #666666;
  --color-gray-500:  #808080;
  --color-gray-400:  #999999;
  --color-gray-300:  #b3b3b3;
  --color-gray-200:  #cccccc;
  --color-gray-100:  #e6e6e6;
  --color-gray-50:   #f2f2f2;
  --color-white:     #FFFFFF;

    // System
    --color-error:   #CC0000;
    --color-warning: #FF8800;
    --color-success: #007E33;

}