////////////////////
/// Brand Colors
////////////////////
:root {

  // Base Colors
  --color-light: #E0E3E9;
  --color-dark: #121417;
  --color-primary: #FF6A00;

  // Grayscale
  --color-gray-100: #AEB4C2;
  --color-gray-200: #737A86;
  --color-gray-400: #4A505C;
  --color-gray-600: #323741;
  --color-gray-800: #252930;
  --color-gray-900: #1A1D22;
}