@use '../variables/typography' as *;
@use '../variables/breakpoints' as *;

input,
textarea {
  caret-color: var(--ion-color-primary) !important;
}

////////////////////////
/// Input + Text Area
////////////////////////
ion-input,
ion-textarea {
  font-family: var(--openSans) !important;
  font-size: var(--text-base) !important;
  background: transparent;
  margin-top: var(--space-md);

  // Invalid State
  &.ion-invalid {
    --highlight-color-invalid: var(--color-alert);
  }

  // Focus State
  &.has-focus {
    --highlight-color-valid: var(--green);

    .native-input,
    .native-textarea {
      border: 1px solid var(--green) !important;
    }
  }

  .input-wrapper,
  .textarea-wrapper {
    // Label Wrapper
    .label-text-wrapper {
      transform: unset !important;
      max-width: unset !important;
      font-size: var(--text-sm);
      margin-bottom: var(--space-xs) !important;

      // Label
      .label-text {
        color: var(--almost-black);
      }
    }

    // Input Wrapper
    .native-wrapper {
      // Input
      .native-input,
      .native-textarea {
        background-color: var(--green-lightest);
        border-radius: 4px;
        color: var(--almost-black);
        padding: var(--space-sm);
        margin-top: 0;
        border: 1px solid transparent;
        opacity: 1;
        transition: all ease 0.25s !important;
      }

      .input-clear-icon {
        position: absolute;
        right: var(--space-sm);
        top: 50%;
        transform: translateY(-50%);
        color: var(--green);
        z-index: 10;
      }
    }

    // Native Active/Focus State
    .input-highlight,
    .textarea-highlight {
      display: none;
    }
  }

  // Error Message
  .input-bottom,
  .textarea-bottom {
    border-top: none !important;
    padding-top: 0 !important;
  }
}

////////////////////////
/// Checkboxes
////////////////////////
ion-checkbox {
  &::part(label) {
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
  }
}

////////////////////////
/// Selects + Dropdowns
////////////////////////
:root .ion-valid {
  --highlight-color-valid: transparent;
}

ion-select {
  font-family: var(--openSans) !important;
  font-size: var(--text-base) !important;
  background: transparent;
  margin-top: var(--space-md);

  // Label
  &::part(label) {
    transform: unset !important;
    max-width: unset !important;
    font-size: var(--text-sm);
    color: var(--almost-black);
    margin-bottom: var(--space-xs) !important;
  }

  .label {
    text-wrap: wrap;
  }

  // Label
  &::part(container) {
    background-color: var(--green-lightest);
    border-radius: 4px;
    color: var(--almost-black);
    padding: var(--space-sm);
    border: 1px solid transparent;
    min-height: 22px;
    opacity: 1;
    transition: all ease 0.25s !important;
  }

  // Placeholder
  &::part(placeholder) {
    color: var(--almost-black);
    opacity: 1;
  }

  // icon
  &::part(icon) {
    color: var(--green);
    right: var(--space-lg);
    height: var(--space-md);
    bottom: calc(var(--space-xs) + var(--space-sm));
  }
}

// ion-popover
ion-popover {
  --min-width: min-content;
}

// ion-select Popover
ion-select-popover {
  ion-list {
    padding: 0 !important;
  }
}

////////////////////////
/// Selectables
////////////////////////
.form__selectable {
  width: 100%;
  margin-top: var(--space-md);
  --inner-padding-end: 0;

  &.item-has-focus {
    --highlight-background: var(--white);
  }

  &::part(native) {
    padding: 0;
    border: none;
  }

  ion-label {
    transform: unset !important;
    max-width: unset !important;
    font-size: var(--text-sm) !important;
    color: var(--almost-black) !important;
    margin-bottom: var(--space-sm) !important;
  }

  ionic-selectable {
    background-color: var(--green-lightest);
    border-radius: 4px;
    padding: var(--space-sm);
  }
}

////////////////////////
/// Radios
////////////////////////
.form__radio {
  margin-top: var(--space-md);

  ion-label {
    display: block;
    transform: unset !important;
    max-width: unset !important;
    font-size: var(--text-sm);
    color: var(--almost-black);
    margin-bottom: var(--space-sm) !important;
  }

  ion-radio-group {
    display: flex;
    flex-direction: column;

    ion-radio {
      --border-radius: 50%;
      --inner-border-radius: 50%;
      --color: var(--shelterColorPrimary, --green);
      --color-checked: var(--shelterColorPrimary, --green);

      &.radio-checked {
        &::part(container) {
          border-color: var(--shelterColorPrimary, --green);
        }

        &::part(mark) {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          background: var(--shelterColorPrimary, --green);
        }
      }

      &:not(:last-child) {
        margin-bottom: var(--space-xs);
      }

      &::part(container) {
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid var(--grey);
        border-radius: 50%;
      }
    }
  }
}

////////////////////////
/// Date Time
////////////////////////
.form__datetime {
  margin-top: var(--space-md);
  flex: 1;

  ion-label {
    display: block;
    transform: unset !important;
    max-width: unset !important;
    font-size: var(--text-sm);
    color: var(--almost-black);
    margin-bottom: var(--space-sm) !important;
    text-align: center;
  }

  ion-group {
    display: flex;
    gap: var(--space-md);

    ion-datetime-button {
      flex: 1;

      // Button Element
      &::part(native) {
        background-color: var(--green-lightest);
        margin: 0;
        border-radius: 4px;
        padding: var(--space-sm);
        color: var(--almost-black);
        min-height: 40px;
        width: 100%;
      }
    }
  }
}

////////////////////////
/// Grid + Buttons
////////////////////////
.form {
  &__row {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    @include breakpoint(md) {
      flex-direction: row;
      gap: var(--space-xl);
      align-items: flex-start;
    }
  }

  // Form Button Styles
  &__btns {
    display: flex;
    align-items: center;
    gap: var(--space-lg);

  }

  &__error {
    margin: 0;
    color: var(--color-alert);
    font-size: var(--text-sm) !important;
  }

  &__errors {
    border: 1px solid var(--color-alert);
    border-radius: 4px;
    padding: var(--space-md) var(--space-lg);

    p {
      color: var(--color-alert);
      font-weight: 600;
      margin: 0;
      margin-bottom: var(--space-xs);
    }

    ul {
      margin: 0;

      li {
        color: var(--color-alert);
        font-size: var(--text-sm);
      }
    }
  }

  &__color {
    font-weight: bold;
    --background: transparent;
    --border-style: none;
    --padding-start: 0;
    --padding-end: 0;
    width: 100%;

    &::part(native) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    ion-label {
      margin: var(--space-sm) 0;
      width: 100%;
    }

    input {
      width: 100%;
      min-height: 38px;
      background-color: var(--white);
      padding: var(--space-xs);
      border: 1px solid var(--grey);
      border-radius: 4px;
      transition: all ease 0.25s;

      &:hover {
        cursor: pointer;
        border-color: var(--dark-grey);
      }
    }
  }
}
