////////////////////
/// Spacing
////////////////////
:root {
  --space-3xs:  2px;
  --space-2xs:  4px;
  --space-xs:   8px;
  --space-sm:   12px;
  --space-base: 16px;
  --space-md:   24px;
  --space-lg:   32px;
  --space-xl:   40px;
  --space-2xl:  64px;
  --space-3xl:  72px;
  --space-4xl:  88px;
  --space-5xl:  120px;
}
