@use "../mixins/breakpoints" as *;
@use "../variables/fonts" as *;

////////////////////////
/// Typography Variables
////////////////////////
:root {
    // Typescale
    --font-size-base: 1rem; // 1rem = 16px
    --font-scale-ratio: 1.2; // Mobile Ratio

    // Larger sizes (multiplying by the ratio)
    --font-size-4xl: calc(var(--font-size-3xl) * var(--font-scale-ratio));
    --font-size-3xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));
    --font-size-2xl: calc(var(--font-size-xl) * var(--font-scale-ratio));
    --font-size-xl:  calc(var(--font-size-lg) * var(--font-scale-ratio));
    --font-size-lg:  calc(var(--font-size-md) * var(--font-scale-ratio));
    --font-size-md:  calc(var(--font-size-base) * var(--font-scale-ratio));

    // Smaller sizes (dividing by the ratio)
    --font-size-sm: calc(var(--font-size-base) / var(--font-scale-ratio));
    --font-size-xs: calc(var(--font-size-sm) / var(--font-scale-ratio));
}

////////////////////////
/// Media Queries for Larger Screens
////////////////////////
@include breakpoint(md) {
    :root {
        --font-scale-ratio: 1.309; // Desktop Ratio
    }
}